.catalog
    padding-top: 78px
    
.catalog__wrapper
    max-width: 1300px
    width: 100%
    margin: 0 auto
    padding-left: 40px
    padding-right: 40px

.catalog__items
    display: grid
    grid-gap: 80px
    grid-template-rows: minmax(372px, auto)
    grid-template-columns: 1fr 1fr

.catalog__item
    display: grid
    grid-template-rows: 195px minmax(99px, auto) minmax(78px, auto)
    grid-template-columns: minmax(164px, auto) 1fr
    grid-template-areas: 'catalog-item__circle catalog-item__title' 'catalog-item__description catalog-item__description' 'catalog-item__link catalog-item__link'
    padding-left: 52px
    padding-right: 56px
    background-color: #f2f2f2

.catalog-item__circle
    grid-area: catalog-item__circle
    position: relative
    align-self: center
    display: block
    width: 100px
    height: 100px
    background-color: #68b738
    border-radius: 50%

.catalog-item__circle--slim::before
    position: absolute
    content: url(../img/cat-slim.svg)
    top: -5px
    left: 50%
    transform: translateX(-50%)
    width: 70px
    height: 97px

.catalog-item__circle--pro::before
    position: absolute
    content: url(../img/cat-pro.svg)
    top: 20px
    left: 50%
    transform: translateX(-50%)
    width: 134px
    height: 56px

.catalog-item__title
    align-self: center
    grid-area: catalog-item__title
    margin: 0
    font-size: 34px
    font-weight: 400
    line-height: 37.02px
    text-transform: uppercase

.catalog-item__description
    align-self: start
    grid-area: catalog-item__description
    font-family: "Arial MT"
    font-size: 18px
    font-weight: 400
    line-height: 26px
    transform: translateY(-10px)

.catalog-item__link
    width: 150px
    position: relative
    grid-area: catalog-item__link
    color: #111111
    font-size: 20px
    font-weight: 400
    line-height: 20px
    text-transform: uppercase
    text-decoration: none

.catalog-item__link::after
    position: absolute
    display: block
    top: -2px
    right: 0
    content: url(../img/right-arrow-long.svg)
    width: 24px
    height: 11

@media screen and (max-width: 1299.98px)
    .catalog
        display: grid
        grid-template-rows: 774px
    .page-header__wrapper
        max-width: 1300px
        width: 100%
        margin: 0 auto
        padding-left: 30px
        padding-right: 30px
    
    .catalog
        padding-top: 0px
    
    .catalog__items
        grid-gap: 30px
        grid-template-columns: 1fr
        grid-template-rows: minmax(372px, auto) minmax(372px, auto)
    
    .catalog__item
        grid-template-rows: minmax(143px, auto) minmax(150px, auto) 1fr
        grid-template-areas: 'catalog-item__title catalog-item__circle' 'catalog-item__description catalog-item__circle' 'catalog-item__link catalog-item__circle'
        padding-left: 52px
        padding-right: 62px

    .catalog-item__circle
        margin-left: 35px
        align-self: center
        width: 200px
        height: 200px

    .catalog-item__title
        margin-top: 42px

    .catalog-item__description
        font-size: 16px
        font-weight: 400
        line-height: 24px
    
    .catalog-item__circle--slim::before
        position: absolute
        content: url(../img/cat-slim.svg)
        top: -5px
        left: 50%
        transform: translateX(-50%)
        width: 140px
        height: 194px

    .catalog-item__circle--pro::before
        position: absolute
        content: url(../img/cat-pro.svg)
        top: 50%
        transform: translateY(-50%)
        left: -30px
        width: 268px
        height: 112px
    
@media screen and (max-width: 767.98px)
    .catalog
        display: grid
        grid-template-rows: auto

    .catalog__wrapper
        padding-left: 20px
        padding-right: 20px
    
    .catalog__items
        grid-gap: 20px
        grid-template-columns: 1fr
        grid-template-rows: minmax(266px, auto) minmax(266px, auto)
    
    .catalog__item
        grid-template-rows: 98px 1fr minmax(59px, auto)
        grid-template-columns: 70px
        grid-template-areas: 'catalog-item__circle catalog-item__title' 'catalog-item__description catalog-item__description' 'catalog-item__link catalog-item__link'
        padding-left: 21px
        padding-right: 36px
    
    .catalog-item__title
        margin-top: 0
        font-size: 24px
        line-height: 37.02px
    
    .catalog-item__description
        padding-top: 5px
        font-size: 14px
        line-height: 18px

    .catalog-item__link
        font-size: 16px
        line-height: 16px
    
    .catalog-item__circle
        margin-left: 0px
        align-self: center
        width: 50px
        height: 50px
    
    .catalog-item__circle--slim::before
        position: absolute
        content: url(../img/cat-slim.svg)
        top: -5px
        left: 50%
        transform: translateX(-50%)
        width: 35px
        height: 49px

    .catalog-item__circle--pro::before
        position: absolute
        content: url(../img/cat-pro.svg)
        top: 50%
        transform: translateY(-50%)
        left: -9px
        width: 67px
        height: 28px




