
@media only screen and (max-width: 1200px)


{
.top_mnu a {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 18px;
    text-indent: 10px;
}
.mc_item_wrap, .mc_item_wrap:first-child {
    margin-left: 20px;
    margin-right: 20px;
}
}


@media only screen and (max-width: 1024px) {
.nav_top_menu .s_menu {
    margin-left: 99px;
    }
    
    .font {
    margin-left: 25px;
        
    
}
  .small_uslugi {
    right: 74px;
}  
    
}
    
    

@media only screen and (max-width: 992px) {

.ta_right {
    margin-top: -52px;
    }
    
.top_line a {
    font-size: 19px;
}
.top_menu a {
    background-image: none;
    padding-left: 18px;
    text-indent: 0;
}
.waranty {
    font-size: 14px;
    position: absolute;
    top: 0;
    right: -11px;
} 
   
.w_left {
    font-size: 16px;
}
.w_left span {
    font-size: 25px;
}
.s_black h2::before, .s_black h2::after, article h2.art_header::before, article h2.art_header::after, article h1::before, article h1::after, .pop_form h3::after, .pop_form h3::before {
    background-image: none;
    display: none;
}
.s_bottom img {
    position: relative;
}

    
.nav_top_menu .s_menu {
    margin-left: -70px;
} 

.small_uslugi {
    float: right;
    height: 60px;
    margin-left: 0;
    margin-right: -15px;
    margin-top:  0px;
    padding-top: 0px;
    }
    
    
.top_line .logo {
    margin-top: -97px;
    margin-left: 55px;
}
    
}
    
    
@media only screen and (max-width: 800px) {
    .row.s_menu {
    margin-left: -19px;
    }
    
    .waranty {
    right: -55px;
        }
    
    .small_uslugi {
    font-size: 17px;
    margin-right: -58px;
    }
    
    
}

@media only screen and (max-width: 768px) {

.button.hi.animated.pulse {
    margin: auto;
    text-align: center;
}
    
    
    .nav_top_menu  ul {
        display: none;
    }
    
    .nav_top_menu ul li {
        float: none;
        z-index: 2;
        position: relative;
        background-color: #242424;
    }
    
.nav_top_menu li {
    display: block;
    float: left;
    width: 100%;
    
}
    
.s_menu .small_menu {
    display: inline-block;
    padding: 0 40px;
    width: 123px;
}
    
 
.tadr_right {
    float: right;
}
.ta_right {
    margin-top: 20px;
    text-align: right;
}
    
.top_adr {
    background-image: none;
    padding-left: 0;
    text-align: right;
}
.top_line .logo {
    margin-left: -205px;
    margin-top: -57px;
    transform: scale(0.9);
}
header.main_header {
    background-image: url("../img/top_bg2.jpg");
}
header.main_header h1 {
    font-size: 55px;
    margin-top: 16%;
}
    

.sb_header.button_cont {
    margin-top: 20px;
    text-align: center;
}
.sb_header h2 {
    text-align: center;
}

.waranty {
    right: -33px;
}

#left {
    margin: auto;
}
    
.forma
 {
    text-align: center;
}
.service {
    text-align: center; 
    padding-left: 20px;
    }
    
.col-md-6.service {
    padding-left: 33px;
}  

.small_uslugi {
    font-size: 17px;
    margin-top: 67px;
    }
    
}

@media only screen and (max-width: 600px) {
    .hov a {
        font-size: 18px;
        height: 80px;
    }
    
}


@media only screen and (max-width: 480px) {
    
    
.top_line .logo {
    margin-left: -103px;
    margin-top: -66px;
    transform: scale(0.7);
}
.buttons_top .button {
    background-image: none;
    padding-left: 20px;
}
.buttons_top .button:last-child {
    margin-right: 0;
}
header.main_header {
    min-height: 565px;
}
.isnohome header.main_header {
    min-height: 0;
}
header.main_header h1 {
    font-size: 48px;
}
.top_line a {
    font-size: 16px;
}
.ta_right strong {
    font-size: 25px;
}

.top_adr {
    background-image: none;
    text-align: right;
}
    
 .top_adr strong {
    font-size: 31px;
}
.small_uslugi {
    font-size: 17px;
    margin-top: 66px;
    }
    
@media only screen and (max-width: 320px)

{

header h1 {
        font-size: 38px;
    }
.s_menu .small_menu {
    display: inline-block;
    padding: 0 25px;
    margin-left: 20px;
    }
#left {
    margin-left: 5px;
}
    
.col-md-2.countlive > img {
    margin-left: 167px;
    margin-top: 20px;
    }
    }
    
    
    
    float: none;
    position: relative;
    z-index: 2;